<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Quản lí Nhân Viên</h2>
    <td><a href="/home/create" type="button" class="btn btn-default">Create</a></td>
    <table class="table">
        <thead>
        <tr>
            <th>Employee Code</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Branch</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nhanvien:${list}">
            <td th:text="${nhanvien.maNv}"></td>
            <td th:text="${nhanvien.tenNv}"></td>
            <td th:text="${nhanvien.tuoiNv}"></td>
            <td th:text="${nhanvien.luongNv}"></td>
            <td th:text="${nhanvien.phongBan.getTenPb()}"></td>
            <td><a th:href="@{/home/Edit/{id}(id=${nhanvien.id})}" type="button" class="btn btn-default">update</a></td>
            <td><a th:href="@{/home/delete/{id}(id=${nhanvien.id})}" type="button" class="btn btn-default">delete</a></td>
            <td><a th:href="@{/home/detail/{id}(id=${nhanvien.id})}" type="button" class="btn btn-default">show</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
